<div class="page-margin">
    <mat-card>
        <div class="contact-holder">
            <img class="contact-img" src="{{contact?.avatar}}" alt="contact profile picture"
            onerror="this.src='/assets/default_user.png';">
            <span>{{ contact?.first_name }}</span>
        </div>

        <form [formGroup]="addAddressForm" (ngSubmit)="onClickSubmit(addAddressForm.value)">
            <div formArrayName="addresses" *ngFor="let add of addressControls.controls; let i = index">
                <div [formGroupName]="i">
                    <h4>Address {{i+1}}</h4>
                    <input id="{{'id'+i}}" formControlName="id" style="display: none;">
                    <input id="{{'contactId'+i}}" formControlName="contactId" style="display: none;">
                    <mat-form-field class="example-full-width input-field" appearance="fill">
                        <mat-label>Street 1</mat-label>
                        <input id="{{'street1'+i}}" matInput placeholder="O Connel St." required formControlName="street1" >
                    </mat-form-field>
                    <mat-form-field class="example-full-width input-field" appearance="fill">
                        <mat-label>Street 2</mat-label>
                        <input id="{{'street2'+i}}" matInput placeholder="" formControlName="street2">
                    </mat-form-field>
                    <mat-form-field class="example-full-width input-field" appearance="fill">
                        <mat-label>Town</mat-label>
                        <input id="{{'town'+i}}" matInput placeholder="Dublin" formControlName="town">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Country</mat-label>
                        <mat-select formControlName="country">
                          <mat-option *ngFor="let country of countryList" [value]="country.iso2">
                            {{country.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    <span class="delete-btn" (click)="deleteRow(i)">X</span>
                </div>
            </div>
            <button mat-raised-button color="primary" type="submit" class="save-btn" [disabled]="!addAddressForm.valid">Save</button>
        </form>
        <button mat-raised-button color="primary" (click)="addNewEntry()" class="btn-margin-right new-address-btn">Add New Address</button>
    </mat-card>
</div>

<mat-form-field appearance="fill" style="display: none;">
    <input matInput value="Disco party!" #message >
  </mat-form-field>